<div id="cookie-banner" class="cookie-banner" style="display: none;">
    <div class="cookie-content">
        <p>
            {{ trans('We use cookies to improve your experience on our site. By continuing to browse, you agree to our use of cookies.') }}
            <a href="{{ route_localized('privacy') }}">{{ trans('Learn more') }}</a>
        </p>
        <div class="cookie-actions">
            <button type="button" id="cookie-accept" class="btn btn-primary">{{ trans('Accept') }}</button>
            <button type="button" id="cookie-decline" class="btn btn-secondary">{{ trans('Decline') }}</button>
        </div>
    </div>
</div>
