<footer class="footer mt-auto bg-body-tertiary">
    <div class="container py-3 my-3">
        <div class="row">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a href="{{ route_localized('home') }}"
                       class="nav-link px-2 text-body-secondary">
                        {{ trans('Home') }}
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ route_localized('about') }}"
                       class="nav-link px-2 text-body-secondary">
                        {{ trans('About') }}
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ route_localized('privacy') }}"
                       class="nav-link px-2 text-body-secondary">
                        {{ trans('Privacy policy') }}
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ route_localized('contact') }}"
                       class="nav-link px-2 text-body-secondary">
                        {{ trans('Contact') }}
                    </a>
                </li>
            </ul>
        </div>
        <div class="d-flex flex-column flex-sm-row justify-content-between py-4 mt-4 mx-4 border-top">
            <p>Open-source, built with passion by <a href="https://github.com/tavib47" target="_blank">tavib47</a></p>
            <ul class="list-unstyled d-flex">
                <li class="ms-3">
                    <a class="link-body-emphasis" href="https://github.com/tavib47" target="_blank" aria-label="GitHub">
                        <img src="/images/socials/github.png" height="24" alt="GitHub">
                    </a>
                </li>
                <li class="ms-3">
                    <a class="link-body-emphasis" href="https://www.linkedin.com/in/octavian-belu" target="_blank" aria-label="LinkedIn">
                        <img src="/images/socials/linkedin.png" height="24" alt="LinkedIn">
                    </a>
                </li>
                <li class="ms-3">
                    <a class="link-body-emphasis" href="https://www.facebook.com/tavibelu" target="_blank" aria-label="Facebook">
                        <img src="/images/socials/facebook.png" height="24" alt="Facebook">
                    </a>
                </li>
                <li class="ms-3">
                    <a class="link-body-emphasis" href="https://www.instagram.com/tavib47" target="_blank" aria-label="Instagram">
                        <img src="/images/socials/instagram.png" height="24" alt="Instagram">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>
